<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>681724596104-vvf0tt1h05nrj77vt0rqv78pnd4quf6s.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.681724596104-vvf0tt1h05nrj77vt0rqv78pnd4quf6s</string>
	<key>API_KEY</key>
	<string>AIzaSyCKxL_Ucz3UIBBbbNlI6NTf2Pv0-BzWoYI</string>
	<key>GCM_SENDER_ID</key>
	<string>681724596104</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.techathon</string>
	<key>PROJECT_ID</key>
	<string>techathon-33e61</string>
	<key>STORAGE_BUCKET</key>
	<string>techathon-33e61.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:681724596104:ios:18784d24862c04011bf43d</string>
	<key>DATABASE_URL</key>
	<string>https://techathon-33e61.firebaseio.com</string>
</dict>
</plist>